.App {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  margin:30px
}
.tableRaw{
  background-color: antiquewhite;
}
.small{
background-color:bisque;
}
.sort{
  margin: 10px;
}

